<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

  <context id="MySQLTables" targetRuntime="MyBatis3">

    <!-- <plugin type="mybatis.generator.plugins.MapperClassNamePlugin" /> -->
    <!-- <plugin type="mybatis.generator.plugins.MapperXmlNamePlugin" /> -->
    <!-- <plugin type="mybatis.generator.plugins.SharingPlugin" /> -->

    <!-- <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> -->
    <!-- <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" /> -->
    <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
    <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
    <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" /> -->
    <!--<plugin type="org.mybatis.generator.plugins.VirtualPrimaryKeyPlugin" /> -->
    <!--<plugin type="org.mybatis.generator.plugins.MapperConfigPlugin" /> -->
    <!--<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin" > -->
    <!--<plugin type="org.mybatis.generator.plugins.SqlMapConfigPlugin" /> -->
    
    <jdbcConnection driverClass="${mybatis.generator.jdbcDriver}"
        connectionURL="${mybatis.generator.jdbcURL}"
        userId="${mybatis.generator.jdbcUserId}"
        password="${mybatis.generator.jdbcPassword}">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>

    <javaModelGenerator targetPackage="com.github.jacobhe.demo.model" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="com.github.jacobhe.demo.xml" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.github.jacobhe.demo.dao" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <table tableName="demo">
    </table>

  </context>
</generatorConfiguration>
